body{
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #11a36a;
    color: white;
}

#cabecalho nav ul li a{ 
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: auto;  
}

#cabecalho nav ul li { 
    list-style: none;
    display: inline-block;
}

#titulo{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#minha_foto{
    width: 150px;
    margin-top: 120px; 
    margin-left: 50px;
}

#licoes_aprendidas{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

#licoes_a_aprender{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article{
    border: 5px solid #11a36a;
    display: inline-block;
    width: 45%;
    margin-left: 20px;
    padding: 5px;
}

section aside{
    border: 5px solid #11a36a;
    display: inline-block;
    width: 45%;
    position: absolute;
    left: 700px;
    top:955px;
    padding: 5px;  
}

table{
   padding: 20px;
}

#rodape{
    border: 1px solid grey;
    align-items: center;
    text-align: center;
    padding: 20px;
       
}